<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Social System</title>
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css" />
    <!--<link rel="stylesheet" href="../../lib/toastr/toastr.css" type="text/css" />-->
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="#/home" class="navbar-brand">Social Sytem</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/users">Users</a>
                    </li>
                    <li>
                        <a href="#/newsfeed">News feed</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section>
        <div ng-view />
    </section>

    <footer>
        <p class="text-center">&copy; Hirundo Social System</p>
    </footer>

    <script src="../../lib/jquery/dist/jquery.js"></script>
    <script src="../../lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../../lib/angular-route/angular-route.js"></script>
    <script src="../../lib/angular-resource/angular-resource.js"></script>
    <script src="../../lib/toastr/toastr.js"></script>

    <script src="../../app/app.js"></script>
    <script src="../../app/controllers/RegisterController.js"></script>
    <script src="../../app/controllers/LoginController.js"></script>
    <script src="../../app/controllers/HomeController.js"></script>
    <script src="../../app/controllers/UsersController.js"></script>
    <script src="../../app/controllers/MessagesController.js"></script>

    <script src="../../app/services/account/auth.js"></script>
    <script src="../../app/services/account/UsersResource.js"></script>
    <script src="../../app/services/users/UsersService.js"></script>
    <script src="../../app/services/messages/MessagesService.js"></script>
    <script src="../../app/services/account/identity.js"></script>
    <script src="../../app/services/notifier.js"></script>

</body>
</html>