script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/lib/toastr/toastr.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.js")
script(type="text/javascript" src="/app/app.js")

//(type="text/javascript" src="/app/main/mainCtrl.js")
//script(type="text/javascript" src="/app/account/navCtrl.js")
//script(type="text/javascript" src="/app/admin/userListCtrl.js")
//script(type="text/javascript" src="/app/admin/pager.js")
//script(type="text/javascript" src="/app/account/loginCtrl.js")
//script(type="text/javascript" src="/app/account/signUpCtrl.js")
//script(type="text/javascript" src="/app/account/profileCtrl.js")
//script(type="text/javascript" src="/app/account/userSettingsCtrl.js")
//script(type="text/javascript" src="/app/account/identity.js")
//script(type="text/javascript" src="/app/account/auth.js")
script(type="text/javascript" src="/app/account/UsersResource.js")
//script(type="text/javascript" src="/app/items/itemCreateCtrl.js")
//script(type="text/javascript" src="/app/items/itemsData.js")
//script(type="text/javascript" src="/app/items/upload/fileModel.js")
//script(type="text/javascript" src="/app/items/itemsListCtrl.js")
//(type="text/javascript" src="/app/items/itemDetailsCtrl.js")
//script(type="text/javascript" src="/app/items/itemUpdateCtrl.js")
//script(type="text/javascript" src="/app/items/itemsResource.js")
//script(type="text/javascript" src="/app/users/userDetailsCtrl.js")
//script(type="text/javascript" src="/app/users/usersData.js")
//script(type="text/javascript" src="/app/admin/adminData.js")
//script(type="text/javascript" src="/app/admin/itemsAdminController.js")
//script(type="text/javascript" src="/app/directives/itemsGrid.js")
//script(type="text/javascript" src="/app/common/notifier.js")
//script(type="text/javascript" src="/app/categories/categoryResource.js")
//script(type="text/javascript" src="/app/categories/CategoriesCtrl.js")
//script(type="text/javascript" src="/app/messages/inboxCtrl.js")
//script(type="text/javascript" src="/app/messages/messagesData.js")
//script(type="text/javascript" src="/app/messages/SendMessageCtrl.js")