<ul class="nav navbar-nav" ng-controller="NavController">
    <li ng-show="isAuthenticated()">
        <a href="#/users">Users</a>
    </li>
    <li ng-show="isAuthenticated()">
        <a href="#/newsfeed">News feed</a>
    </li>
</ul>
<ul class="nav navbar-nav  pull-right" ng-controller="NavController">
    <li ng-show="!isAuthenticated()">
        <a href="#/register">Register</a>
    </li>
    <li ng-show="!isAuthenticated()">
        <a href="#/login">Login</a>
    </li>
    <li ng-show="isAuthenticated()">
        <a>Hi, {{getCurrentUser()}}</a>
    </li>
    <li ng-show="isAuthenticated()">
        <a href="#/" ng-click="logout()">Log out</a>
    </li>
</ul>