<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Post message</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class=" well bs-component">
                <form class="form-horizontal" name="messageForm">
                    <fieldset>
                        <div class="form-group">
                            <label for="msgText" class="col-lg-2 control-label">Text</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="msgText" ng-model="message.content" placeholder="Enter message"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="msgPlace" class="col-lg-2 control-label">Place</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="msgPlace" ng-model="message.place" placeholder="Place">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary" ng-click='postMessage(message, messageForm)'>Post</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <h3>Messages</h3>
    <div class="bs-component" ng-if="filtersExist()">
        <span class="label label-success" ng-repeat="filter in filters" style="margin-right:5px">
            {{filter}}
        </span>
    </div>

    <h4 ng-if="areMessagesEmpty()">No new messages available.</h4>
    <button class="btn btn-info pull-right" ng-if="filtersExist()" ng-click="getFilteredMessages()">
        Filter messages
    </button>
    <br />
    <br />
    <br />
    <button class="btn btn-info pull-right" ng-if="filtersExist()" ng-click="getAllMessages()">
        Clear filters
    </button>
    <ul style="list-style-type:none">
        <li ng-repeat="message in messages">
            <div class="row">
                <div class="col-md-6">
                    <div class="bs-component">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{message.author.username}}</h3>
                            </div>
                            <div class="panel-body">
                                <a ng-if="containsHashTag(message)" ng-click="collectFilter($event)">
                                    {{message.content}}
                                </a>
                                <span ng-if="!containsHashTag(message)">{{message.content}}</span>
                                <br />
                                <br />
                                <span class="pull-right">
                                    <b>Posted on: </b> {{message.date | date : 'medium'}}
                                </span>
                                <br />
                                <span class="pull-right">
                                    <em>from</em> {{message.place}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    
</div>