<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Register</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class=" well bs-component">
                <form class="form-horizontal" name="registerForm">
                    <fieldset>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input type="email" class="form-control" id="inputEmail" ng-model="user.email" placeholder="example@.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="userName" class="col-lg-2 control-label">Username</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="userName" ng-model="user.username" placeholder="Username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="inputPassword" name="inputPassword"
                                       ng-model="user.password" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repeatPassword" class="col-lg-2 control-label">Confirm Password</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="repeatPassword"
                                       name="repeatPassword" ng-model="user.confirmPassword"
                                       placeholder="Confirm password" required pass-check="inputPassword">
                                <div ng-show="registerForm.repeatPassword.$error.passMatch">
                                   Passwords do not match.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <a href="#/" class="btn btn-primary">Cancel</a>
                                <button type="submit" class="btn btn-primary" ng-click='register(user)'>Register</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>